.all-recent {
  @include container;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  &__title {
    font: {
      family: $main-font;
      size: 1.875em;
      weight: 500;
    }

    color: $text-black;
    line-height: 1;

    margin-bottom: 20px;
  }
}

@media (min-width: $netbooks) {
  .all-recent {
    &__title {
      font: {
        size: 2.625em;
      }
    }
  }
}
