.choose-slider {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 320px;

  position: relative;

  &__video {
    width: 280px;
    margin-right: 10px;
  }

  &__preview {
    width: 280px;
    height: 200px;
  }

  &__description {
    font: {
      family: $main-font;
      size: 1.25em;
      weight: 500;
    }

    color: $text-black;
    line-height: 1;

    margin-top: 20px;
    margin-bottom: 0;
  }
}

@media (min-width: $smartphones) {
  .choose-slider {
    width: 460px;
  }
}

@media (min-width: $tablets) {
  .choose-slider {
    width: 688px;

    &__video {
      min-width: 334px;
      max-width: 334px;
    }

    &__preview {
      min-width: 334px;
      max-width: 334px;
    }

    .prev-1 {
      position: absolute;
      top: 32%;
      left: 2%;

      background-image: url('../img/arrow-left.svg');
      background-repeat: no-repeat;
      background-size: 23px 24px;

      width: 23px;
      height: 24px;

      background-color: transparent;
      border: 0;

      z-index: 100;
    }

    .next-1 {
      position: absolute;
      top: 32%;
      right: 4%;

      background-image: url('../img/arrow-right.svg');
      background-repeat: no-repeat;
      background-size: 23px 24px;

      width: 23px;
      height: 24px;

      background-color: transparent;
      border: 0;

      z-index: 100;
    }

    .prev-2 {
      position: absolute;
      top: 32%;
      left: 2%;

      background-image: url('../img/arrow-left.svg');
      background-repeat: no-repeat;
      background-size: 23px 24px;

      width: 23px;
      height: 24px;

      background-color: transparent;
      border: 0;

      z-index: 100;
    }

    .next-2 {
      position: absolute;
      top: 32%;
      right: 4%;

      background-image: url('../img/arrow-right.svg');
      background-repeat: no-repeat;
      background-size: 23px 24px;

      width: 23px;
      height: 24px;

      background-color: transparent;
      border: 0;

      z-index: 100;
    }

    .prev-3 {
      position: absolute;
      top: 32%;
      left: 2%;

      background-image: url('../img/arrow-left.svg');
      background-repeat: no-repeat;
      background-size: 23px 24px;

      width: 23px;
      height: 24px;

      background-color: transparent;
      border: 0;

      z-index: 100;
    }

    .next-3 {
      position: absolute;
      top: 32%;
      right: 4%;

      background-image: url('../img/arrow-right.svg');
      background-repeat: no-repeat;
      background-size: 23px 24px;

      width: 23px;
      height: 24px;

      background-color: transparent;
      border: 0;

      z-index: 100;
    }
  }
}

@media (min-width: $netbooks) {
  .choose-slider {
    width: 950px;
    height: 305px;

    &__video {
      width: 307px;
      margin-left: 10px;

      &:nth-of-type(3n) {
        margin-right: 0;
      }
    }

    &__preview {
      width: 307px;
    }

    .prev-1 {
      top: 28%;
      left: -5%;
    }

    .next-1 {
      top: 28%;
      right: -5%;
    }

    .prev-2 {
      top: 28%;
      left: -5%;
    }

    .next-2 {
      top: 28%;
      right: -5%;
    }

    .prev-3 {
      top: 28%;
      left: -5%;
    }

    .next-3 {
      top: 28%;
      right: -5%;
    }
  }
}

@media (min-width: $widebooks) {
  .choose-slider {
    width: 1440px;
    height: auto;

    &__video {
      width: 460px;
    }

    &__preview {
      width: 460px;
      height: 300px;
    }

    .prev-1 {
      top: 38%;
    }

    .next-1 {
      top: 38%;
    }

    .prev-2 {
      top: 38%;
    }

    .next-2 {
      top: 38%;
    }

    .prev-3 {
      top: 38%;
    }

    .next-3 {
      top: 38%;
    }
  }
}
