.choose-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  padding-left: 20px;
  margin-bottom: 30px;

  &__title {
    align-self: flex-start;
    font: {
      family: $main-font;
      size: 1.5em;
      weight: 400;
    }

    color: $text-black;
    line-height: 1;

    margin-bottom: 30px;
    margin-top: 0;
  }
}

@media (min-width: $smartphones) {
  .choose-item {
    padding-left: 0;
    margin-bottom: 30px;

    &__title {
      margin-bottom: 20px;
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

@media (min-width: $tablets) {
  .choose-item {
    &__title {
      font: {
        size: 1.875em;
      }
    }
  }
}

@media (min-width: $netbooks) {
  .choose-item {
    width: 950px;
  }
}

@media (min-width: $widebooks) {
  .choose-item {
    width: 1420px;
  }
}
