.details-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;

  &__label {
    font: {
      family: $main-font;
      size: 1.875em;
      weight: 400;
    }

    color: $text-black;
    line-height: 1;
    text-align: center;

    margin-bottom: 27px;
  }

  &__input {
    width: 100%;

    background-color: transparent;
    border: none;

    border-bottom: 3px solid black;
    padding-bottom: 5px;

    font: {
      family: $main-font;
      size: 1.25em;
      weight: 400;
    }

    color: $text-black;
    line-height: 1;
    text-align: center;

    cursor: text;
    outline: none;
  }
}

@media (min-width: $smartphones) {
  .details-form {
    &__label {
      font: {
        size: 2.625em;
      }
    }
  }
}

@media (min-width: $netbooks) {
  .details-form {
    &__label {
      font: {
        size: 2.625em;
      }
    }
  }
}
