@font-face {
    font-family: 'FuturaDemiCTT';
    src: url('../fonts/FuturaDemiCTT.ttf') format('truetype'), url("../fonts/FuturaDemiCTT.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}
