.footer-limit {
  display: none;
}

@media (min-width: $tablets) {
  .footer-limit {
    display: block;

    width: 70px;
    height: 70px;

    border: 5px solid $social-bg;
    border-radius: 50%;

    background-color: transparent;
    position: relative;

    margin-left: 22px;
    margin-top: 0;

    &__ages {
      font: {
        family: $main-font;
        size: 2em;
        weight: 500;
      }

      color: $social-bg;
      line-height: 1;

      display: block;
      position: absolute;

      top: 50%;
      left: 50%;

      transform: translate(-50%, -50%);
    }
  }
}

@media (min-width: $netbooks) {
  .footer-limit {
    margin-left: 100px;
  }
}
