.footer-limit {
  width: 38px;
  height: 38px;

  border: 5px solid $social-bg;
  border-radius: 50%;

  background-color: transparent;
  position: relative;

  margin-top: 30px;

  &__ages {
    font: {
      family: $main-font;
      size: 0.875em;
      weight: 500;
    }

    color: $social-bg;
    line-height: 1;

    display: block;
    position: absolute;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
  }
}

@media (min-width: $netbooks) {
  .footer-limit {
    width: 70px;
    height: 70px;

    margin-left: 100px;
    margin-top: 0;

    &__ages {
      font: {
        size: 2em;
      }
    }
  }
}
