.footer {
  @include container;
  
  background-color: #fff;

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    margin-left: 8.33333%;
    margin-right: 8.33333%;
  }
}
