.footer-social {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  list-style: none;
  margin: 0;
  padding: 0;

  margin: 0 auto;
  margin-top: 30px;
}

@media (min-width: $netbooks) {
  .footer-social {
    margin-left: 85px;
    margin-top: 0;
  }
}
