.footer-links {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  flex-wrap: wrap;

  width: 100%;

  /*К footer-links добавляется модификатор --all, когда активно окно main-all*/
  &--all {
    margin-top: 100px;
  }

  &__connect {
    display: block;

    width: 280px;

    background-color: $btn-red-bg;
    text-align: center;
    text-decoration: none;

    cursor: pointer;
    outline: none;

    margin: 0 auto;
  }

  &__text {
    width: 100%;
    height: 100%;

    display: block;

    padding-top: 13px;
    padding-bottom: 12px;

    font: {
      family: $main-font;
      size: 1.25em;
      weight: 500;
    }

    color: $text-white;
    line-height: 1;

    &:hover {
      background-color: $footer-connect-hover-bg;
      color: $footer-connect-hover-text;
    }
  }
}

@media (min-width: $smartphones) {
  .footer-links {
    &--all {
      margin-top: 100px;
    }
  }
}

@media (min-width: $netbooks) {
  .footer-links {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    margin-top: 150px;

    &--all {
      margin-top: 100px;
    }
  }
}
