html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px !important;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  min-width: 320px;
  margin: 0 auto;
  padding: 0;
  height: 100%;

  text-transform: uppercase;

  position: relative;
}

img {
  max-width: 100%;
  height: auto;
}

h2 {
  font: {
    family: $main-font;
    size: 19.25px;
    weight: 900;
  }

  color: $text-white;
  margin: 0;
  line-height: 1;

  @media (min-width: $smartphones) {
    font: {
      size: 19.25px;
    }
  }

  @media (min-width: $tablets) {
    font: {
      family: $main-font;
      size: 31px;
      weight: 900;
    }

    color: $text-white;
    margin: 0;
  }

  @media (min-width: $laptop) {
    font: {
      family: $main-font;
      size: 20px;
      weight: 900;
    }

    color: $text-white;
    margin: 0;
    line-height: 1;
  }
  @media (min-width: $netbooks) {
    font: {
      family: $main-font;
      size: 21.34px;
      weight: 900;
    }
  }
  @media (min-width: $wide-netbooks) {
    font: {
      family: $main-font;
      size: 22.5px;
      weight: 900;
    }
  }
  @media (min-width: $notebooks) {
    font: {
      family: $main-font;
      size: 25px;
      weight: 900;
    }
  }
  @media (min-width: $widebooks) {
    font: {
      family: $main-font;
      size: 27px;
      weight: 900;
    }

    color: $text-white;
    margin: 0;
    line-height: 1;
  }
  @media (min-width: $hd) {
    font: {
      family: $main-font;
      size: 27px;
      weight: 900;
    }

    color: $text-white;
    margin: 0;
    line-height: 1;
  }
  @media (min-width: $fhd) {
    font: {
      size: 40px;
    }
  }
}
