.header-nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;

  position: relative;

  width: 100%;

  margin-bottom: 3rem;

  &__link {
    @include flex-setting(column, center, center);

    min-width: 65px;
    width: 65px;
    height: 75px;

    position: absolute;

    left: 0;
    top: -20px;

    z-index: 10;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &__controls {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    width: auto;
  }

  &__search {
    display: none;
  }

  &__form {
    display: none;
  }

  &__menu {
    font: {
      family: $main-font;
      size: 1.25em;
      weight: 400;
    }

    color: #333333;
    line-height: 1.28rem;
    margin-right: 0.625rem;
  }

  /*Открывашка*/
  &__toggle {
    width: 14px;
    height: 12px;
    position: relative;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;
    display: block;

    span {
      display: block;
      position: absolute;
      height: 2px;
      width: 100%;
      background: #333333;
      border-radius: 0;
      opacity: 1;
      left: 0;
      transform: rotate(0deg);
      transition: .25s ease-in-out;
    }

    span:nth-child(1) {
      top: 0px;
      -webkit-transform-origin: left center;
      -moz-transform-origin: left center;
      -o-transform-origin: left center;
      transform-origin: left center;
    }

    span:nth-child(2) {
      top: 5px;
      -webkit-transform-origin: left center;
      -moz-transform-origin: left center;
      -o-transform-origin: left center;
      transform-origin: left center;
    }

    span:nth-child(3) {
      top: 10px;
      -webkit-transform-origin: left center;
      -moz-transform-origin: left center;
      -o-transform-origin: left center;
      transform-origin: left center;
    }
  }

  &__toggle.inactive {
    display: none;
  }

  &__toggle.open span {
    background-color: #333333;
  }

  &__toggle.open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 1px;
    left: 1px;
    width: 14px;
  }

  &__toggle.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
  }

  &__toggle.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 11px;
    left: 1px;
    width: 14px;
  }
}

@media (min-width: 768px) {
  .header-nav {
    max-width: 740px;
    justify-content: center;
    height: 70px;

    &__link {
      @include flex-setting(column, center, center);

      min-width: 65px;
      width: 65px;
      height: 75px;

      position: absolute;

      left: 0;
      top: 10px;

      z-index: 10;
    }

    &__img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    &__controls {
      margin-left: auto;
    }

    &__search {
      display: block;
      background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%2337374B' fill-rule='evenodd'%3E%3Cpath d='M8.5 0C13.5140449 0 17 3.5609756 17 8.5121951S13.5140449 17 8.5 17C3.485955 17 0 13.4634146 0 8.5121951 0 3.5609756 3.485955 0 8.5 0zm0 14.1219512c3.1039326 0 5.3005618-2.3170732 5.3005618-5.609756 0-3.292683-2.1966292-5.6341464-5.3005618-5.6341464S3.1994382 5.2195122 3.1994382 8.512195c0 3.2926829 2.1966292 5.6097561 5.3005618 5.6097561z'/%3E%3Cpath d='M12 14.12132l9.1923882 9.1923882 2.1213203-2.1213203-9.1923881-9.1923881z'/%3E%3C/g%3E%3C/svg%3E");
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: contain;

      width: 24px;
      height: 24px;

      border: none;
      background-color: transparent;

      cursor: pointer;
      outline: none;

      &.active {
        position: relative;

        &::before {
          position: absolute;
          content: '';
          display: block;

          width: 0;
          height: 0;
          border-style: solid;
          border-width: 0 18px 16px 18px;
          border-color: transparent transparent #EECD28 transparent;

          bottom: -23px;
          left: -10px;
        }
      }
    }

    &__menu {
      display: none;
    }

    /*Открывашка*/
    &__toggle {
      display: none;
    }

    &__form {
      position: absolute;

      top: 0;

      width: 100%;

      @include flex-setting(column, center, center);
      background-color: #EECD28;

      z-index: -5;
      overflow: hidden;
      opacity: 0;

      -webkit-transition: max-height .5s;
      transition: max-height .5s;
      max-height: 0;

      &.active {
        width: 100vw;
        top: 69px;
        height: 95px;
        max-height: 95px;
        opacity: 1;

        z-index: 2;
        transition: max-height .5s;
        border-bottom: 4px solid white;
      }

      .search-form {
        &__input {
          cursor: text;
          outline: none;

          background-color: transparent;
          border: none;
          width: 100%;
          text-align: center;
          @include font-setting($main-font, 2.25rem, 1, 400, $text-white);
        }
      }
    }
  }
}

@media (min-width: 1280px) {
  .header-nav {
    width: 100%;
    max-width: 740px;

    &__link {
      width: 103px;
      height: 119px;

      top: -36px;
    }

    &__form {
      z-index: 12;

      &.active {
        width: 1000px;
        top: 69px;
        z-index: 8;
      }
    }
  }
}

@media (min-width: 1600px) {
  .header-nav {
    width: 100%;
    max-width: 740px;

    &__form {
      &.active {
        width: 1440px;
      }
    }
  }
}
