.howto-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  margin: 0;
  padding: 0;
  list-style: none;

  &__item {
    margin-bottom: 20px;
    text-align: center;
    width: 220px;

    &:first-of-type {
      margin-top: 10px;
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &__description {
    color: $text-white;
    line-height: 1.25em;

    font: {
      family: $secondary-font;
      size: 1.125em;
      weight: 600;
    }
  }
}
