.info-item {
  margin-bottom: 5px;
  text-align: center;

  &__link {
    font: {
      family: $main-font;
      size: 1em;
      weight: 400;
    }

    color: $text-gray;
    line-height: 1.813em;

    text-decoration: underline;

    &:hover {
      color: $footer-details-hover;
    }
  }
}

@media (min-width: $tablets) {
  .info-item {
    text-align: left;
    margin-bottom: 0;

    &__link {
      font: {
        size: 1.25em;
      }
    }
  }
}

@media (min-width: $netbooks) {
  .info-item {
    margin-right: 23px;
  }
}
