.main-all {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  width: 100%;

  padding-top: 55px;
}

@media (min-width: $netbooks) {
  .main-all {
    padding-top: 81px;
  }
}
