.main-choose {
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  width: 100%;

  padding-top: 75px;
  margin-bottom: 60px;

  &__title {
    font: {
      family: $main-font;
      size: 1.875em;
      weight: 500;
    }

    color: $text-black;
    line-height: 1;

    margin-top: 0;
    margin-bottom: 30px;

    text-align: center;
  }
}

@media (min-width: $netbooks) {
  .main-choose {
    padding-top: 90px;
    margin-bottom: 0;

    &__title {
      font: {
        size: 2.625em;
      }

      margin-top: 0;
      margin-bottom: 54px;

      text-align: left;
    }
  }
}
