.main-intro {
  background-color: $intro-bg;
  background-image: url('../img/intro-texture.svg');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 100%;

  width: 100%;

  &__wrapper {
    @include container;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  &__title {
    margin-top: 67px;
    margin-bottom: 95px;

    width: 280px;

    text-align: center;
  }

  &__breadcrumbs {
    align-self: center;
  }
}

@media (min-width: $smartphones) {
  .main-intro {
    &__breadcrumbs {
      align-self: flex-start;
      margin-left: 36px;
      margin-top: auto;
    }
  }
}

@media (min-width: $tablets) {
  .main-intro {
    background-size: cover;
    &__title {
      width: 545px;
      margin-top: 77px;
      margin-bottom: 58px;
    }

    &__breadcrumbs {
      align-self: flex-start;
      margin-left: 20px;
      margin-top: auto;
    }
  }
}

@media (min-width: $netbooks) {
  .main-intro {
    background-size: contain;
    &__title {
      margin-top: 77px;
      margin-bottom: 58px;
    }
  }
}
