.main-intro {
  background-color: $intro-bg;
  background-image: url('../img/intro-texture.svg');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 100%;

  width: 100%;

  &__wrapper {
    @include container;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  &__title {
    padding-top: 67px;
    padding-bottom: 95px;

    width: 280px;

    text-align: center;
  }

  &__breadcrumbs {
    align-self: center;
  }
}

@media (min-width: $netbooks) {
  .main-intro {
    &__title {
      padding-top: 90px;
      padding-bottom: 58px;

      width: 545px;
    }

    &__breadcrumbs {
      align-self: flex-start;
    }
  }
}
