.main-choose {
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  width: 100%;

  padding-top: 90px;

  &__title {
    font: {
      family: $main-font;
      size: 2.625em;
      weight: 500;
    }

    color: $text-black;
    line-height: 1;

    margin-top: 0;
    margin-bottom: 54px;
  }
}
