@mixin container {
  min-width: $phones;
  width: auto;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 20px;

  @media (min-width: $smartphones) {
    width: auto;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 16px;
  }

  @media (min-width: $tablets) {
    width: auto;
    max-width: 688px;
    margin: 0 auto;
    padding: 0;
  }

  @media (min-width: $netbooks) {
    width: auto;
    max-width: 992px;
    margin: 0 auto;
    padding: 0;
  }

  @media (min-width: $widebooks) {
    width: auto;
    max-width: 992px;
    margin: 0 auto;
    padding: 0;
  }
}

@mixin font-setting($family, $size, $line-height, $font-width, $color) {
  font-family: $family;
  font-size: $size;
  line-height: $line-height;
  font-weight: $font-width;
  color: $color;
}

@mixin flex-setting($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin ul-nostyle {
  margin: 0;
  padding: 0;
  list-style: none;
}
