.nav-item {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;

  &__link {
    text-decoration: none;
    cursor: pointer;
    outline: none;
  }

  &__text {
    color: $text-black;
    line-height: 1.438em;

    font: {
      family: $main-font;
      size: 1.25em;
      weight: 400;
    }
  }

  &:last-of-type {
    margin-right: 0;
  }
}

@media (min-width: $netbooks) {
  .nav-item {
    margin-right: 60px;
  }
}
