.nav-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  list-style: none;
  margin: 0;
  padding: 0;

  &--opened {
    width: 100%;
    background-color: #fff;
    position: fixed;
    top: 68px;

    z-index: 1;
  }

  &--closed {
    width: 100%;
    background-color: #fff;
    position: fixed;
    top: -300px;

    z-index: 1;
  }

  &--desktop {
    display: none;
  }
}

@media (min-width: $smartphones) {
  .nav-list {
    &--opened {
      top: 70px;

      z-index: 1;
    }
  }
}

@media (min-width: $netbooks) {
  .nav-list {
    &--closed {
      display: none;
    }

    &--opened {
      display: none;
    }

    &--desktop {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      list-style: none;
      margin: 0;
      padding: 0;

      width: 585px;
    }
  }
}
