.phrase-list {
  list-style: none;
  padding: 0;
  margin: 0;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  align-self: flex-start;

  overflow-y: scroll;

  width: 100%;

  &::-webkit-scrollbar {
    display: inline-block;
    width: 3px;
    background-color: #efefef;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #000;
  }
}


@media (min-width: $netbooks) {
  .phrase-list {
    height: 465px;
  }
}
