.phrase-list {
  list-style: none;
  padding: 0;
  margin: 0;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  align-self: flex-start;

  overflow-y: scroll;
  height: 490px;
}
