::-webkit-input-placeholder {
color: $baseFontColor;
font-family: $baseFontFamily;
font-size: $mediumFontSize;
line-height: $mediumLh;
opacity: 0.3;
}

::-moz-placeholder {
color: $baseFontColor;
font-family: $baseFontFamily;
font-size: $mediumFontSize;
line-height: $mediumLh;
opacity: 0.3;
}

:-moz-placeholder {
color: $baseFontColor;
font-family: $baseFontFamily;
font-size: $mediumFontSize;
line-height: $mediumLh;
opacity: 0.3;
}

:-ms-input-placeholder {
color: $baseFontColor;
font-family: $baseFontFamily;
font-size: $mediumFontSize;
line-height: $mediumLh;
opacity: 0.3;
}

textarea::-webkit-input-placeholder {
color: $baseFontColor;
font-family: $baseFontFamily;
font-size: $mediumFontSize;
line-height: $mediumLh;
opacity: 0.3;
}

textarea::-moz-placeholder {
color: $baseFontColor;
font-family: $baseFontFamily;
font-size: $mediumFontSize;
line-height: $mediumLh;
opacity: 0.3;
}

textarea:-moz-placeholder {
color: $baseFontColor;
font-family: $baseFontFamily;
font-size: $mediumFontSize;
line-height: $mediumLh;
opacity: 0.3;
}

textarea:-ms-input-placeholder {
color: $baseFontColor;
font-family: $baseFontFamily;
font-size: $mediumFontSize;
line-height: $mediumLh;
opacity: 0.3;
}

::-webkit-input-placeholder {
color: $baseFontColor;
font-family: $baseFontFamily;
font-size: $mediumFontSize;
line-height: $mediumLh;
opacity: 0.3;
}

::-moz-placeholder {
color: $baseFontColor;
font-family: $baseFontFamily;
font-size: $mediumFontSize;
line-height: $mediumLh;
opacity: 0.3;
}

:-moz-placeholder {
color: $baseFontColor;
font-family: $baseFontFamily;
font-size: $mediumFontSize;
line-height: $mediumLh;
opacity: 0.3;
}

:-ms-input-placeholder {
color: $baseFontColor;
font-family: $baseFontFamily;
font-size: $mediumFontSize;
line-height: $mediumLh;
opacity: 0.3;
}

textarea::-webkit-input-placeholder {
color: $baseFontColor;
font-family: $baseFontFamily;
font-size: $mediumFontSize;
line-height: $mediumLh;
opacity: 0.3;
}

textarea::-moz-placeholder {
color: $baseFontColor;
font-family: $baseFontFamily;
font-size: $mediumFontSize;
line-height: $mediumLh;
opacity: 0.3;
}

textarea:-moz-placeholder {
color: $baseFontColor;
font-family: $baseFontFamily;
font-size: $mediumFontSize;
line-height: $mediumLh;
opacity: 0.3;
}

textarea:-ms-input-placeholder {
color: $baseFontColor;
font-family: $baseFontFamily;
font-size: $mediumFontSize;
line-height: $mediumLh;
opacity: 0.3;
}

@media (min-width: $tablet-width) {
  ::-webkit-input-placeholder {
  color: $baseFontColor;
  font-family: $baseFontFamily;
  font-size: $mediumFontSize-tablet;
  line-height: $mediumLh-tablet;
  opacity: 0.3;
  }

  ::-moz-placeholder {
  color: $baseFontColor;
  font-family: $baseFontFamily;
  font-size: $mediumFontSize-tablet;
  line-height: $mediumLh-tablet;
  opacity: 0.3;
  }

  :-moz-placeholder {
  color: $baseFontColor;
  font-family: $baseFontFamily;
  font-size: $mediumFontSize-tablet;
  line-height: $mediumLh-tablet;
  opacity: 0.3;
  }

  :-ms-input-placeholder {
  color: $baseFontColor;
  font-family: $baseFontFamily;
  font-size: $mediumFontSize-tablet;
  line-height: $mediumLh-tablet;
  opacity: 0.3;
  }

  textarea::-webkit-input-placeholder {
  color: $baseFontColor;
  font-family: $baseFontFamily;
  font-size: $mediumFontSize-tablet;
  line-height: $mediumLh-tablet;
  opacity: 0.3;
  }

  textarea::-moz-placeholder {
  color: $baseFontColor;
  font-family: $baseFontFamily;
  font-size: $mediumFontSize-tablet;
  line-height: $mediumLh-tablet;
  opacity: 0.3;
  }

  textarea:-moz-placeholder {
  color: $baseFontColor;
  font-family: $baseFontFamily;
  font-size: $mediumFontSize-tablet;
  line-height: $mediumLh-tablet;
  opacity: 0.3;
  }

  textarea:-ms-input-placeholder {
  color: $baseFontColor;
  font-family: $baseFontFamily;
  font-size: $mediumFontSize-tablet;
  line-height: $mediumLh-tablet;
  opacity: 0.3;
  }

  ::-webkit-input-placeholder {
  color: $baseFontColor;
  font-family: $baseFontFamily;
  font-size: $mediumFontSize-tablet;
  line-height: $mediumLh-tablet;
  opacity: 0.3;
  }

  ::-moz-placeholder {
  color: $baseFontColor;
  font-family: $baseFontFamily;
  font-size: $mediumFontSize-tablet;
  line-height: $mediumLh-tablet;
  opacity: 0.3;
  }

  :-moz-placeholder {
  color: $baseFontColor;
  font-family: $baseFontFamily;
  font-size: $mediumFontSize-tablet;
  line-height: $mediumLh-tablet;
  opacity: 0.3;
  }

  :-ms-input-placeholder {
  color: $baseFontColor;
  font-family: $baseFontFamily;
  font-size: $mediumFontSize-tablet;
  line-height: $mediumLh-tablet;
  opacity: 0.3;
  }

  textarea::-webkit-input-placeholder {
  color: $baseFontColor;
  font-family: $baseFontFamily;
  font-size: $mediumFontSize-tablet;
  line-height: $mediumLh-tablet;
  opacity: 0.3;
  }

  textarea::-moz-placeholder {
  color: $baseFontColor;
  font-family: $baseFontFamily;
  font-size: $mediumFontSize-tablet;
  line-height: $mediumLh-tablet;
  opacity: 0.3;
  }

  textarea:-moz-placeholder {
  color: $baseFontColor;
  font-family: $baseFontFamily;
  font-size: $mediumFontSize-tablet;
  line-height: $mediumLh-tablet;
  opacity: 0.3;
  }

  textarea:-ms-input-placeholder {
  color: $baseFontColor;
  font-family: $baseFontFamily;
  font-size: $mediumFontSize-tablet;
  line-height: $mediumLh-tablet;
  opacity: 0.3;
  }
}

@media (min-width: $desctop-width) {
  ::-webkit-input-placeholder {
  color: $baseFontColor;
  font-family: $baseFontFamily;
  font-size: $mediumFontSize-tablet;
  line-height: $mediumLh-tablet;
  opacity: 0.3;
  }

  ::-moz-placeholder {
  color: $baseFontColor;
  font-family: $baseFontFamily;
  font-size: $mediumFontSize-tablet;
  line-height: $mediumLh-tablet;
  opacity: 0.3;
  }

  :-moz-placeholder {
  color: $baseFontColor;
  font-family: $baseFontFamily;
  font-size: $mediumFontSize-tablet;
  line-height: $mediumLh-tablet;
  opacity: 0.3;
  }

  :-ms-input-placeholder {
  color: $baseFontColor;
  font-family: $baseFontFamily;
  font-size: $mediumFontSize-tablet;
  line-height: $mediumLh-tablet;
  opacity: 0.3;
  }

  textarea::-webkit-input-placeholder {
  color: $baseFontColor;
  font-family: $baseFontFamily;
  font-size: $mediumFontSize-tablet;
  line-height: $mediumLh-tablet;
  opacity: 0.3;
  }

  textarea::-moz-placeholder {
  color: $baseFontColor;
  font-family: $baseFontFamily;
  font-size: $mediumFontSize-tablet;
  line-height: $mediumLh-tablet;
  opacity: 0.3;
  }

  textarea:-moz-placeholder {
  color: $baseFontColor;
  font-family: $baseFontFamily;
  font-size: $mediumFontSize-tablet;
  line-height: $mediumLh-tablet;
  opacity: 0.3;
  }

  textarea:-ms-input-placeholder {
  color: $baseFontColor;
  font-family: $baseFontFamily;
  font-size: $mediumFontSize-tablet;
  line-height: $mediumLh-tablet;
  opacity: 0.3;
  }

  ::-webkit-input-placeholder {
  color: $baseFontColor;
  font-family: $baseFontFamily;
  font-size: $mediumFontSize-tablet;
  line-height: $mediumLh-tablet;
  opacity: 0.3;
  }

  ::-moz-placeholder {
  color: $baseFontColor;
  font-family: $baseFontFamily;
  font-size: $mediumFontSize-tablet;
  line-height: $mediumLh-tablet;
  opacity: 0.3;
  }

  :-moz-placeholder {
  color: $baseFontColor;
  font-family: $baseFontFamily;
  font-size: $mediumFontSize-tablet;
  line-height: $mediumLh-tablet;
  opacity: 0.3;
  }

  :-ms-input-placeholder {
  color: $baseFontColor;
  font-family: $baseFontFamily;
  font-size: $mediumFontSize-tablet;
  line-height: $mediumLh-tablet;
  opacity: 0.3;
  }

  textarea::-webkit-input-placeholder {
  color: $baseFontColor;
  font-family: $baseFontFamily;
  font-size: $mediumFontSize-tablet;
  line-height: $mediumLh-tablet;
  opacity: 0.3;
  }

  textarea::-moz-placeholder {
  color: $baseFontColor;
  font-family: $baseFontFamily;
  font-size: $mediumFontSize-tablet;
  line-height: $mediumLh-tablet;
  opacity: 0.3;
  }

  textarea:-moz-placeholder {
  color: $baseFontColor;
  font-family: $baseFontFamily;
  font-size: $mediumFontSize-tablet;
  line-height: $mediumLh-tablet;
  opacity: 0.3;
  }

  textarea:-ms-input-placeholder {
  color: $baseFontColor;
  font-family: $baseFontFamily;
  font-size: $mediumFontSize-tablet;
  line-height: $mediumLh-tablet;
  opacity: 0.3;
  }
}
