.player-controls {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;

  background-color: $player-ctrl-bg;

  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 20px;
  padding-right: 20px;

  width: 100%;
  min-height: 85px;

  /*Кнопка общие стили*/
  &__btn {
    width: 40px;
    height: 40px;

    background-color: $controls-bg;
    border: 0;

    cursor: pointer;
    outline: none;

    position: relative;
    box-shadow:
      1px 0px rgba(201,64,58,1), 1px 1px rgba(201,64,58,1),
      2px 1px rgba(201,64,58,1), 2px 2px rgba(201,64,58,1),
      3px 2px rgba(201,64,58,1), 3px 3px rgba(201,64,58,1),
      4px 3px rgba(201,64,58,1), 4px 4px rgba(201,64,58,1),
      5px 4px rgba(201,64,58,1), 5px 5px rgba(201,64,58,1),
      6px 5px rgba(201,64,58,1), 6px 6px rgba(201,64,58,1),
      7px 6px rgba(201,64,58,1), 7px 7px rgba(201,64,58,1),
      8px 7px rgba(201,64,58,1), 8px 8px rgba(201,64,58,1),
      9px 8px rgba(201,64,58,1), 9px 9px rgba(201,64,58,1),
      10px 9px rgba(201,64,58,1), 10px 10px rgba(201,64,58,1);

    &--play {
      margin-right: 10px;
      &::after {
        position: absolute;
        content: '';
        background-image: url('../img/play-slider.svg');
        background-repeat: no-repeat;
        background-size: 16px 16px;

        width: 16px;
        height: 16px;

        top: 50%;
        left: 50%;

        transform: translate(-50%, -50%);
      }
    }

    &--pause {
      &::after {
        position: absolute;
        content: '';

        width: 16px;
        height: 18px;

        background-image: url('../img/pause-player.svg');
        background-repeat: no-repeat;
        background-size: 16px 18px;

        top: 50%;
        left: 50%;

        transform: translate(-50%, -50%);
      }
    }

    &--rec {
      display: none;

      .fa-circle {
        position: absolute;
        content: '\f111';

        font-size: 1em;
        top: 50%;
        left: 50%;

        color: $text-white;

        transform: translate(-50%, -50%);
      }
    }

    &--stop {
      display: none;

      .fa-square-full {
        position: absolute;
        content: '\f45c';

        font-size: 1.5em;
        top: 50%;
        left: 50%;

        color: $text-white;

        transform: translate(-50%, -50%);
      }
    }

    &--redrec {
      background-color: $btn-red-bg;

      box-shadow:
        1px 0px rgba(60,103,182,1), 1px 1px rgba(60,103,182,1),
        2px 1px rgba(60,103,182,1), 2px 2px rgba(60,103,182,1),
        3px 2px rgba(60,103,182,1), 3px 3px rgba(60,103,182,1),
        4px 3px rgba(60,103,182,1), 4px 4px rgba(60,103,182,1),
        5px 4px rgba(60,103,182,1), 5px 5px rgba(60,103,182,1),
        6px 5px rgba(60,103,182,1), 6px 6px rgba(60,103,182,1),
        7px 6px rgba(60,103,182,1), 7px 7px rgba(60,103,182,1),
        8px 7px rgba(60,103,182,1), 8px 8px rgba(60,103,182,1),
        9px 8px rgba(60,103,182,1), 9px 9px rgba(60,103,182,1),
        10px 9px rgba(60,103,182,1), 10px 10px rgba(60,103,182,1);

      &:hover {
        margin-top: 7px;
        margin-left: 7px;

        box-shadow:
          1px 0px rgba(60,103,182,1), 1px 1px rgba(60,103,182,1),
          2px 1px rgba(60,103,182,1), 2px 2px rgba(60,103,182,1),
          3px 2px rgba(60,103,182,1), 3px 3px rgba(60,103,182,1),
          4px 3px rgba(60,103,182,1), 4px 4px rgba(60,103,182,1);
      }

      &:active {
        margin-top: 7px;
        margin-left: 7px;

        box-shadow:
          1px 0px rgba(60,103,182,1), 1px 1px rgba(60,103,182,1),
          2px 1px rgba(60,103,182,1), 2px 2px rgba(60,103,182,1),
          3px 2px rgba(60,103,182,1), 3px 3px rgba(60,103,182,1),
          4px 3px rgba(60,103,182,1), 4px 4px rgba(60,103,182,1);
      }

      .fa-circle::before {
        position: absolute;
        content: '\f111';

        font-size: 1em;
        top: 50%;
        left: 50%;

        color: $text-white;

        transform: translate(-50%, -50%);
      }
    }

    &--save {
      background-image: url('../img/save.svg');
      background-position: center center;
      background-repeat: no-repeat;
      background-size: 22px 24px;
    }
  }
  /*Блок главных управляющих кнопок*/
  &__main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin-right: 56px;

    width: 100px;
  }

  &__nav {
    display: none;
  }

  &__record {
    margin-left: auto;
    margin-right: 38px;
  }

  &__save {
    margin-right: 10px;
  }
}

@media (min-width: $netbooks) {
  .player-controls {
    padding-top: 24px;
    padding-bottom: 24px;

    min-height: 116px;

    /*Кнопка общие стили*/
    &__btn {
      width: 56px;
      height: 56px;

      &--play {
        &::after {
          background-size: 23px 24.5px;

          width: 23px;
          height: 24.5px;
        }
      }

      &--pause {
        &::after {
          width: 20px;
          height: 22px;

          background-size: 20px 22px;
        }
      }

      &--rec {
        display: none;

        .fa-circle {
          font-size: 1.5em;
        }
      }

      &--stop {
        display: none;

        .fa-square-full {
          font-size: 2em;
        }
      }

      &--rew {
        &::after {
          position: absolute;
          content: '';

          width: 36px;
          height: 19px;

          background-image: url('../img/rew-player.svg');
          background-repeat: no-repeat;
          background-size: 36px 19px;

          top: 50%;
          left: 50%;

          transform: translate(-50%, -50%);
        }
      }

      &--fwd {
        &::after {
          position: absolute;
          content: '';

          width: 36px;
          height: 19px;

          background-image: url('../img/fwd-player.svg');
          background-repeat: no-repeat;
          background-size: 36px 19px;

          top: 50%;
          left: 50%;

          transform: translate(-50%, -50%);
        }
      }

      &--redrec {
        .fa-circle::before {
          font-size: 1.5em;
        }
      }

      &--save {
        background-size: 30px 32px;
      }
    }
    /*Блок главных управляющих кнопок*/
    // COMBAK: //
    &__main {
      margin-right: 30px;
    }

    &__nav {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      margin-right: 30px;
    }

    &__save {
      margin-left: auto;
      margin-right: 0;
    }
  }
}
