.studio-slider {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  overflow: visible;

  width: 320px;
  height: 305px;

  position: relative;
  margin-left: 10px;
}

@media (min-width: $smartphones) {
  .studio-slider {
    width: 460px;
    height: auto;

    margin-left: 10px;
    margin-bottom: 30px;
  }
}

@media (min-width: $tablets) {
  .studio-slider {
    width: 688px;
    height: auto;

    position: relative;

    .prev {
      position: absolute;
      top: 32%;
      left: 5%;

      background-image: url('../img/arrow-left.svg');
      background-repeat: no-repeat;
      background-size: 23px 24px;

      width: 23px;
      height: 24px;

      background-color: transparent;
      border: 0;

      z-index: 100;
    }

    .next {
      position: absolute;
      top: 32%;
      right: 3%;

      background-image: url('../img/arrow-right.svg');
      background-repeat: no-repeat;
      background-size: 23px 24px;

      width: 23px;
      height: 24px;

      background-color: transparent;
      border: 0;

      z-index: 100;
    }
  }
}

@media (min-width: $netbooks) {
  .studio-slider {
    margin-left: 0;

    width: 950px;
    height: 305px;

    .prev {
      display: block;

      position: absolute;
      top: 28%;
      left: -5%;

      background-image: url('../img/arrow-left.svg');
      background-repeat: no-repeat;
      background-size: 23px 24px;

      width: 23px;
      height: 24px;

      background-color: transparent;
      border: 0;
    }

    .next {
      display: block;

      position: absolute;
      top: 28%;
      right: -5%;

      background-image: url('../img/arrow-right.svg');
      background-repeat: no-repeat;
      background-size: 23px 24px;

      width: 23px;
      height: 24px;

      background-color: transparent;
      border: 0;
    }
  }
}

@media (min-width: $widebooks) {
  .studio-slider {
    width: 1440px;
    height: auto;

    .prev {
      position: absolute;
      top: 38%;
      left: -5%;

      background-image: url('../img/arrow-left.svg');
      background-repeat: no-repeat;
      background-size: 23px 24px;

      width: 23px;
      height: 24px;

      background-color: transparent;
      border: 0;
    }

    .next {
      position: absolute;
      top: 38%;
      right: -5%;

      background-image: url('../img/arrow-right.svg');
      background-repeat: no-repeat;
      background-size: 23px 24px;

      width: 23px;
      height: 24px;

      background-color: transparent;
      border: 0;
    }
  }
}
