.studio-header {
  background-color: $studio-header-bg;
  width: 100%;

  padding-bottom: 58px;

  &__wrapper {
    @include container;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
}
