.studio-header {
  background-color: $studio-header-bg;
  width: 100%;

  padding-bottom: 80px;

  &__wrapper {
    @include container;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}

@media (min-width: $tablets) {
  .studio-header {
    &__wrapper {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
    }
  }
}

@media (min-width: $netbooks) {
  .studio-header {
    padding-bottom: 58px;

    &__wrapper {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
    }
  }
}
