$phones: 320px;
$smartphones: 480px;
$tablets: 768px;
$netbooks: 1024px;
$netbooks-hd: 1152px;
$notebooks: 1366px;
$widebooks: 1500px;

$main-font: "FuturaDemiCTT", sans-serif;
$secondary-font: "Open Sans", sans-serif;

$text-white: #ffffff;
$text-black: #000000;
$text-gray: #9b9b9b;
$text-contacts: #4a4a4a;

$footer-contact-hover: #d13729;
$footer-details-hover: #fcda44;

$footer-connect-hover-bg: #fcda44;
$footer-connect-hover-text: #4a4a4a;
/*Цвета фона*/
$header-bg: #ffffff;
$footer-bg: #ffffff;
$intro-bg: #eecf3f;
$bread-bg: #c0483b;
$studio-header-bg: #3c67b7;
$howto-bg: #57b166;
$btn-red-bg: #d1342b;
$btn-red: #c9403a;
$social-bg: #fcda44;
$player-ctrl-bg: #e5cd55;
$rec-bg: #d1342b;

$controls-bg: #3c67b6;

/*Цвета интерфейса*/
