$phones: 320px;
$smartphones: 480px;
$tablets: 768px;
$laptop: 1024px;
$netbooks: 1280px;
$wide-netbooks: 1366px;
$notebooks: 1440px;
$widebooks: 1600px;
$hd: 1920px;
$fhd: 2560px;


$main-font: "FuturaDemiCTT", sans-serif;
$secondary-font: "Open Sans", sans-serif;

$text-white: #ffffff;
$text-black: #000000;
$text-gray: #9b9b9b;
$text-contacts: #4a4a4a;
/*Цвета фона*/
$header-bg: #ffffff;
$footer-bg: #ffffff;
$intro-bg: #eecf3f;
$bread-bg: #c0483b;
$studio-header-bg: #3c67b7;
$howto-bg: #57b166;
$btn-red-bg: #d1342b;
$social-bg: #fcda44;

/*Цвета интерфейса*/

@media (min-width: $laptop) {

}

@media (min-width: $netbooks) {

}
@media (min-width: $wide-netbooks) {

}

@media (min-width: $notebooks) {

}

@media (min-width: $widebooks) {

}

@media (min-width: $hd) {

}

@media (min-width: $fhd) {

}
